/* StudentForm.css */
body{
    background-color: #C3E2C2;
}
.heading-line{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
img{
    height: 100px;
    width: 100px;
  }

.form-container {
    display: flex;
    
    /* justify-content: space-between; */
    gap: 200px;
  }
  
  .form2-container {
    width: 45%; /* Adjust the width as needed */
    
  }
  
  .label {
    display: block;
    margin-bottom: 10px;
  }
  
  .input-field {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .button-container {
    display: flex;
    gap: 10px;
  }
  
  .btn {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  /* Additional styles for checkboxes */
  .checkbox-container {
    display: flex;
    align-items: center;
  }
  
  .checkbox-label {
    margin-right: 10px;
  }
  
  /* Style for file input */
  .file-input {
    margin-bottom: 10px;
    height: 100px;
  }


.data-container {
    display: flex;

    gap: 100px;
    width: 45%; /* Adjust the width as needed */
    height: fit-content;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
  }
  
  .data-img {
    /* max-width: 100%; */
    border-radius: 8px;
    /* margin-bottom: 10px; */
  }
  
  .data-container h2 {
    font-size: 1.5rem;
    /* margin-bottom: 2px; */
  }
  

  .data-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .data-container li {
    margin-bottom: 2px;
  }
 
  
  /* Responsive styles for smaller screens */
  @media (max-width: 768px) {
    .form-container {
      flex-direction: column;
    }
  
    .form2-container {
      width: 100%;
    }
    .data-container {
        width: 100%;
      }
  }
  